<div class="row">
  <div class="col-md-6 text-left">
    <button type="button" class="btn btn-primary" [routerLink]="['/home']">Continuar comprando
    </button>
  </div>
  <div class="col-md-6 text-right">
    <button type="button" class="btn btn-success" [routerLink]="['/home']">Finalizar Compra
    </button>
  </div>
</div>
<div class="mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carrinho of lista()">
        <th>{{carrinho.produto.nome}}</th>
        <td>{{carrinho.produto.preco}}</td>
        <td>{{carrinho.quantidade}}</td>
        <td>
          <button type="submit" class="btn btn-danger" (click)="delete(carrinho.index)">
            <i class="material-icons center-button">delete_forever</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>