<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/home']">Continuar comprando
</button>
<div class="mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Preço</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carrinho of lista()">
        <th scope="row">{{carrinho.produto.nome}}</th>
        <td>{{carrinho.produto.preco}}</td>
        <td>{{carrinho.quantidade}}</td>
        <td>
          <button type="submit" class="btn btn-success" (click)="atualizarItem(carrinho.produto,1)">
            <i class="material-icons center-button">add</i>
          </button>
          <button type="submit" class="btn btn-danger" (click)="atualizarItem(carrinho.produto,0)">
            <i class="material-icons center-button">remove</i>
          </button>
          <button type="submit" class="btn btn-danger" (click)="delete(carrinho.index)">
            <i class="material-icons center-button">delete_forever</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h6 class="text-right">Preço Total: R$ {{precoTotal}}</h6>