<div class="mb-5 row">
    <div class="col-md-4 mt-2" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <div class="mt-2 mb-2 mr-2 ml-2">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{product.nome}}
                    </h5>
                    <p class="card-text">{{product.descricao}}</p>
                    <h4 class="card-text">
                        R$ {{product.preco}}
                    </h4>
                    <div class="text-center">
                        <a class="btn btn-secondary" (click)="enviandoAoCarrinho(product)">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>