/* HEADER */
#logo{
    height: 100px;
}


/* MENU HORIZONTAL */
.menu-wrapper{
    background-color: #4CAF50;
}

.menu-wrapper a {
    color: #ffffff;
}


/* MENU VERTICAL */

/* CONTEUDO */
.conteudo-wrapper{
    min-height: 450px;
}

/* RODAPE */
.rodape-wrapper{
    background-color: #616161;
    color: #ffffff;
    padding: 5px;
    margin-top: 15px;
}
.rodape-wrapper p{
    margin: 0;
    padding: 0;
}