/* You can add global styles to this file, and also import other style files */
i.left {
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.center-button{
    float: left;
    margin-top: -1px;
}

.red{
    color:red;
}

#limite12em {
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}